<!-- View header bar is hidden using attribute 'hide-nav-bar="true"' -->
<ion-view title="" class="gem-splash_background center">
<style>
    .popup-body {
        padding: 10px;
        overflow: hidden !important;
    }
</style>
    <!-- ======================
   LEFT SIDE BUTTON
   ====================== -->
    <ion-nav-buttons side="left">
        <button menu-toggle="left" class="button button-icon icon ion-navicon White"></button>
    </ion-nav-buttons>

    <!-- Splash background - refer to .gem-splash_background in css/style.css to change image -->
    <ion-content >
        <div class="gem-form text-center">
            <!-- Logo as you please -->
            <div class="gem-splash-logo" style="margin-top: 28%">
                <h1 class="gem-white home-title">DILL</h1>
                <h3 class="gem-white">Bons plans de proximité </h3>
                <p class="gem-white">v0.1</p>
            </div>
            <!-- end Logo -->

            <!-- buttons. .button-rounded can be added for more roundness -->
            <div class="row">
                <a  class="button button-light col btnDill" href="#/app/login">SE CONNECTER</a>
            </div>
            <!-- buttons. .button-rounded can be added for more roundness -->
            <div class="row">
                <a class="button button-light col btnDill" href="#/app/signUp">CRÉER UN COMPTE</a>
            </div>
            <!-- end buttons -->
        </div>
    </ion-content>
</ion-view>